@font-face {
	font-family: 'ARCADECLASSIC';
	src: url('ARCADECLASSIC.TTF') format('truetype');
}
.Titre {
	font-family: ARCADECLASSIC;
	font-size: 36px;
	font-weight: bolder;
	color: #09C;
	letter-spacing: 5px;
}
.soustitre {
	font-family: ARCADECLASSIC;
	font-size: 24px;
	word-spacing: 20px;
}
.suitebouton {
	font-family: ARCADECLASSIC;
	position: absolute;
	left: 45%;
	top: 170px;
	height: 60px;
	width: 44px;
}

.champ1 {
	position: absolute;
	left: 45%;
	top: 80px;
}

.champ3 {
	position: absolute;
	left: 45%;
	top: 140px;
}

.champ2 {
	position: absolute;
	left: 45%;
	top: 110px;
}

.fleche_1 {
	position: absolute;
	top : 225px;
	left: 155px;
}


